<!DOCTYPE html>
<html>
  <head>
    <title>News Stuff</title>
    <link href="/styles.css" rel="stylesheet">

  </head>
  <body>
    <h1>Slacker Central</h1>
    <h2>We are the enemy of productivity</h2>

    <h3><a href="/articles/new">Submit an article here</a></h3>

    <ul>
      <% article.each do |row| %>
      <div>
        <li><%= row["title"] %> </br>
        <a href="<%= row["url"] %>" target="_blank"> <%= row["url"] %> </a><br>
        <%= row["description"] %> </br></li>
      </div>
      <% end %>
    </ul>
  </body>

</html>
