<!DOCTYPE html>
<html>
  <head>
    <title>Slacker Central</title>
    <link href="/styles.css" rel="stylesheet">

  </head>
  <body>
    <h1>Slacker Central</h1>
    <h2>We are the enemy of productivity</h2>

    <h3><a href="/articles/new">Submit an article here</a></h3>

    <ul>
      <% @articles.each do |article| %>
      <div>
        <li><%= article.title %> </br>
        <a href="<%= article.url %>" target="_blank"> <%= article.url %> </a><br>
        <%= article.description %> </br></li>
      </div>
      <% end %>
    </ul>
  </body>

</html>
