<!DOCTYPE html>
<html>
<head>
  <title>Slacker Central</title>

</head>
<body>
  <h1>Slacker Central</h1>
  <h2>Add an interesting article to share with others who aren't doing anything productive</h2>

  <form action="/articles" method="post">
    <form action="/articles" method="post">
    <label for="article_title">Article Title:</label>
    <input type="text" required id="article_title" name="article_title">
    <br>
    <label for="article_url">Article URL:</label>
    <input type="text" id="article_url" name="article_url">
    <br>
    <label for="article_description">Article Description:</label>
    <input type="text" id="article_description" name="article_description">

    <input type="submit" value="Submit">
  </form>
  <br>
  <% if @errors == "Please completely fill out form" %>
  <%= @errors %>
  <% end %>
  <% if @errors == "Invalid URL" %>
  <%= @errors %>
  <% end %>
</body>

</html>
