<!DOCTYPE html>
<html>
  <head>
    <title>Slacker Central</title>
    <link href="/styles.css" rel="stylesheet">

  </head>
  <body>
    <h1>Slacker Central</h1>
    <h2>Add an interesting article to share with others who aren't doing anything productive</h2>

    <form action="/articles/new" method="post">
      <label for="title">Title</label>
      <input type="text" id="articles" name="Title">
      <label for="url">URL</label>
      <input type="url" id="articles" name="URL">
      <label for="description">Description</label>
      <input type="text" id="articles" name="Description">

      <input type="submit" value="Submit">
    </form>
  </body>

</html>
